@model HomeViewModel


@foreach (var item in Model.Headers)
{
   <section class="header-img" style="background-image: url(/assets/img/@item.Image)" >
    <div class=" logo-div text-center" >
  <div class="m-auto logo "></div>
  <a href="#" class="text-white text-decoration-none"><h1 class="title">@item.Title</h1></a>
  <h6 class="text-white d-flex justify-content-center">@item.Subtitle</h6>
</div> 

</section>
}

<section class="categories mt-5 pt-5 container">
  <h5>Seasonal Essentials</h5>
  <div class="card-group mt-5 d-flex justify-content-evenly">
    <div class="card border-0">
            <a href="#"><img src="/assets/img/@Model.Settings["category-men"]" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <a asp-controller="shop" asp-action="index" class="text-dark text-decoration-none"><h6 class="card-title d-flex justify-content-center">Men's</h6></a>
    
      </div>
    </div>
    <div class="card border-0">
            <a asp-controller="shop" asp-action="index"><img src="/assets/img/@Model.Settings["category-women"]" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <a asp-controller="shop" asp-action="index" class="text-dark text-decoration-none"><h6 class="card-title d-flex justify-content-center">Women's</h6></a>
      </div>
    </div>
    <div class="card border-0">
            <a asp-controller="shop" asp-action="index"> <img src="/assets/img/@Model.Settings["category-kids"]" class="card-img-top" alt="..."></a>
      <div class="card-body">
                <a asp-controller="shop" asp-action="index" class="text-dark text-decoration-none"><h6 class="card-title d-flex justify-content-center">Kids</h6></a>
      </div>
    </div>
    <div class="card  border-0">
            <a asp-controller="shop" asp-action="index"><img src="/assets/img/@Model.Settings["category-footwear"]" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <a asp-controller="shop" asp-action="index" class="text-dark text-decoration-none"><h6 class="card-title d-flex justify-content-center">Footwear</h6></a>
      </div>
    </div>
    <div class="card border-0">
            <a asp-controller="shop" asp-action="index"><img src="/assets/img/@Model.Settings["category-accessories"]" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <a asp-controller="shop" asp-action="index" class="text-dark text-decoration-none"><h6 class="card-title  d-flex justify-content-center">Accessories</h6></a>
      </div>
    </div>
  </div>
</section>
<section class="feature container pt-5 mt-5 ">
  <div class="card border-0 text-white">
        <img src="/assets/img/@Model.Settings["feature-big"]" class="card-img" alt="...">
    <div class="card-img-overlay">
            <p class="card-text h4">@Model.Settings["feature-title(1)"]</p>
      <a href="#" class="text-white">Shop Insulated</a>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-4">
    <div class="card  text-white border-0 w-49">
            <img src="/assets/img/@Model.Settings["feature-1"]" class="card-img" alt="...">
      <div class="card-img-overlay">
                <p class="card-text h4">@Model.Settings["feature-title(2)"]</p>
        <a href="#" class="text-white">Shop Rainwear</a>
      </div>
    </div>
    <div class="card text-white border-0 w-49">
            <img src="/assets/img/@Model.Settings["feature-2"]" class="card-img" alt="...">
      <div class="card-img-overlay">
                <p class="card-text h4">@Model.Settings["feature-title(3)"]</p>
        <a href="#" class="text-white">Shop Kids' Best Sellers</a>
      </div>
    </div>
  </div>
</section>
<section class=" container mt-5 pt-5 ">
   <h5 class="text-bold">How Do You Play?</h5>
    <div class="card-group mt-4 d-flex justify-content-around mb-5">
      <div class="card border-0 ">
        <a href="#"><img src="/assets/img/@Model.Settings["fishing"]" class="card-img-top w-90 " alt="..."></a>
      </div>
      <div class="card border-0 ">
        <a href="#"><img src="/assets/img/@Model.Settings["hiking"]" class="card-img-top w-90 " alt="..."></a>
       
      </div>
      <div class="card border-0">
                <a href="#"> <img src="/assets/img/@Model.Settings["hunting"]" class="card-img-top w-90" alt="..."></a>
      
      </div>
      <div class="card  border-0 ">
                <a href="#"> <img src="/assets/img/@Model.Settings["ski&snow"]" class="card-img-top w-90" alt="..."></a>
      </div>
    </div>
</section>
<section class="container mb-5 pb-5">
  <div class="w-75 text-div ">
        <p class="h1 text-primary text-center blue-title">@Model.Settings["text-section(1)"] <span>@Model.Settings["text-section(1.2)"]</span></p>
        <p class="text-center subtitle-1">@Model.Settings["text-section(2)"]</p>
        <p class="text-center subtitle-2 ">@Model.Settings["text-section(3)"]</p>
  </div>
</section>

<section class="container mb-5 ">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000" >
      <div class="d-flex justify-content-around flex-wrap ">
                    @foreach (var item in Model.Products)
                    {

                        <div class="card" style="width: 16rem;">
                            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">

                                @if (item.IsNew == true)
                                {
                                    <p class="m-auto">New</p>
                                }
                                @if (item.DiscountPercent > 0)
                                {
                                    <p class="m-auto text-danger">Sale</p>
                                }

                            </div>
                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id"><img src="/assets/img/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).Name" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h6 class="card-title">@item.Name</h6>
                                @if(item.DiscountPercent>0){
                                <p class="card-text text-danger">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00")) <del class="text-dark">$@item.SalePrice</del></p>
                                }
                                else{
                                    <p class="card-text ">$@item.SalePrice</p>
                                }
                            </div>
                        </div>
                    }
                </div>
          </div>
       <div class="carousel-item">
                <div class="d-flex justify-content-around flex-wrap  ">
                    <div class="card" style="width: 16rem;">
                        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
                            <p class="m-auto">New</p>
                        </div>
                        <a href="detail.html"><img src="/assets/img/Work Hooded Jacket.webp" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">Men's PHG Rough Tail™ Work Hooded Jacket</h6>
                            <p class="card-text text-danger">$89.91 <del class="text-dark">$120.00</del></p>
                        </div>
                    </div>
                    <div class="card" style="width: 16rem;">
                        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
                            <p class="m-auto">New</p>
                        </div>
                        <a href="detail.html"><img src="assets/img/II Half Zip Sweatshirt.webp" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">Men’s Hart Mountain™ II Half Zip Sweatshirt</h6>
                            <p class="card-text text-danger">$54.91 <del class="text-dark">$80.00</del></p>
                        </div>
                    </div>
                    <div class="card" style="width: 16rem;">
                        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
                            <p class="m-auto">New</p>
                        </div>
                        <a href="detail.html"><img src="assets/img/II Crew Sweatshirt.webp" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">Men's Hart Mountain™ II Crew Sweatshirt</h6>
                            <p class="card-text text-danger">$32.91 <del class="text-dark">$55.00</del></p>
                        </div>
                    </div>
                    <div class="card" style="width: 16rem;">
                        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
                            <p class="m-auto">New</p>
                        </div>
                        <a href="detail.html"><img src="assets/img/Firecsmp Boot.webp" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">Women's Firecamp™ Boot</h6>
                            <p class="card-text text-danger">$54.91 <del class="text-dark">$110.00</del></p>
                        </div>
                    </div>
                </div>
            </div>
      <div class="carousel-item" >
      <div class="d-flex justify-content-around flex-wrap ">
                    @foreach (var item in Model.Products)
                    {

                        <div class="card" style="width: 16rem;">
                            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">

                                @if (item.IsNew == true)
                                {
                                    <p class="m-auto">New</p>
                                }
                                @if (item.DiscountPercent > 0)
                                {
                                    <p class="m-auto text-danger">Sale</p>
                                }

                            </div>
                            <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id"><img src="/assets/img/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).Name" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <h6 class="card-title">@item.Name</h6>
                                @if(item.DiscountPercent>0){
                                <p class="card-text text-danger">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00")) <del class="text-dark">$@item.SalePrice</del></p>
                                }
                                else{
                                    <p class="card-text ">$@item.SalePrice</p>
                                }
                            </div>
                        </div>
                    }
                </div>
      </div>
    
    </div>
    <button class="carousel-control-prev pe-5 " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon me-5 bg-dark" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next ps-5" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon ms-5 bg-dark" aria-hidden="true"></span>
    </button>
  </div>

</section>
<section class="img-div w-100 pb-5 ">
  <div class="mt-3 pt-3 ">
        <h1 class="text-center text-white mt-3 pt-3">@Model.Settings["last-title"]</h1>
<div class=" w-100 d-flex justify-content-evenly border-0 pt-5 mt-3 flex-wrap  ">
  <div class="card" style="width: 18rem;">
                <img src="/assets/img/@Model.Settings["gofurther"]" class="card-img-top" alt="...">
    <div class="card-body ">
                    <h6 class="card-title">@Model.Settings["card-title(1)"]</h6>
                    <p class="card-text">@Model.Settings["card-subtitle(1)"]</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link text-dark fst-italic">Learn More</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
                <img src="/assets/img/@Model.Settings["guide"]" class="card-img-top" alt="...">
    <div class="card-body">
                    <h6 class="card-title">@Model.Settings["card-title(2)"]</h6>
                    <p class="card-text">@Model.Settings["card-subtitle(2)"]</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link text-dark fst-italic">Explore Our Tech</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
                <img src="/assets/img/@Model.Settings["tecnologies"]" class="card-img-top" alt="...">
    <div class="card-body">
                    <h6 class="card-title">@Model.Settings["card-title(3)"]</h6>
                    <p class="card-text">@Model.Settings["card-subtitle(3)"]</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link text-dark fst-italic">Explore Our Tech</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
                <img src="/assets/img/@Model.Settings["ambassadors"]" class="card-img-top" alt="...">
    <div class="card-body">
                    <h6 class="card-title">@Model.Settings["card-title(4)"]</h6>
                    <p class="card-text ">@Model.Settings["card-subtitle(4)"]</p>
    </div>
    <div class="card-body">
      <a href="#" class="card-link text-dark fst-italic">Meet Our Ambassadors</a>
    </div>
  </div>
</div>
</div>
</section>
<button class="btn btn-floating btn-lg " id="btn-back-to-top">
  <i class="las la-angle-up"></i>
</button>
