@model ShopViewModel

<section class="container-fluid  mt-5">
    <p class="h2 fw-bold ">Products</p>
    <div class="d-flex justify-content-between w-100 ">
    <div class="w-25 filter">  
        <div class="accordion accordion-flush mt-5 " id="accordionFlushExample">
            <div class="accordion-item border-top border-bottom border-dark">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Gender
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body "> 
                    <div>
                        <form>
                            @foreach (var item in Model.Categories)
                            {
                                   <div>
                              <input  form="filter-form" id="checkbox-1" class="checkbox-custom" type="checkbox" name="categoryIds" id="category-@item.Id" value="@item.Id" @(ViewBag.SelectedCategoryId.Contains(item.Id)?"checked":"")>
                              <label for="checkbox-1" class="checkbox-custom-label" for="category-@item.Id">@item.Name (@item.Products.Count)</label>
                            </div>
                            }
                        </form>
                      </div>
                </div>
              </div>
            </div>
            <div class="accordion-item border-bottom border-dark">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed fw-bold type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Product Type
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div>
                        <form >
                            @foreach (var item in Model.ProductTypes)
                            {
                            <div>
                              <input form="filter-form" id="checkbox-1" class="checkbox-custom" type="checkbox" name="productTypeIds" id="productType-@item.Id" value="@item.Id"  @(ViewBag.SelectedProductTypeId.Contains(item.Id)?"checked":"")>
                              <label for="checkbox-1" class="checkbox-custom-label" for="productType-@item.Id">@item.Name (@item.Products.Count)</label>
                            </div>
                            }
                        </form>
                      </div>
                </div>
              </div>
            </div>
            <div class="accordion-item border-bottom border-dark">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Size
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    
                           @foreach (var item in Model.Sizes)
                           {
                               <div>
                              <input form="filter-form" id="checkbox-1" class="checkbox-custom" type="checkbox" name="sizeIds" id="size-@item.Id" value="@item.Id"  @(ViewBag.SelectedSizeId.Contains(item.Id)?"checked":"")>
                              <label for="checkbox-1" class="checkbox-custom-label" for="productType-@item.Id">@item.Name</label>
                               </div>
                           }
                      
                </div>
              </div>
            </div>

          </div>
               <div class="mt-5">
                        <form id="filter-form" method="get">
                            <button type="submit" class="sidebar-title w-100">Filter</button>
                        </form>
               </div>
    </div>
    <div class="w-75 products ">
       @* Mobile Filter*@
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="w-100 ">
                    <div class="accordion accordion-flush mt-5 " id="accordionFlushExample">
                        <div class="accordion-item border-top border-bottom border-dark">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Gender
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body ">
                                    <div>
                                        <form>
                                            @foreach (var item in Model.Categories)
                                            {
                                                <div>
                                                    <input form="filter-form" id="checkbox-1" class="checkbox-custom" type="checkbox" name="categoryIds" id="category-@item.Id" value="@item.Id" @(ViewBag.SelectedCategoryId.Contains(item.Id)?"checked":"")>
                                                    <label for="checkbox-1" class="checkbox-custom-label" for="category-@item.Id">@item.Name (@item.Products.Count)</label>
                                                </div>
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-bottom border-dark">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed fw-bold type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    Product Type
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <div>
                                        <form>
                                            @foreach (var item in Model.ProductTypes)
                                            {
                                                <div>
                                                    <input form="filter-form" id="checkbox-1" class="checkbox-custom" type="checkbox" name="productTypeIds" id="productType-@item.Id" value="@item.Id" @(ViewBag.SelectedProductTypeId.Contains(item.Id)?"checked":"")>
                                                    <label for="checkbox-1" class="checkbox-custom-label" for="productType-@item.Id">@item.Name (@item.Products.Count)</label>
                                                </div>
                                            }
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-bottom border-dark">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    Size
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">

                                    @foreach (var item in Model.Sizes)
                                    {
                                        <div>
                                            <input form="filter-form" id="checkbox-1" class="checkbox-custom" type="checkbox" name="sizeIds" id="size-@item.Id" value="@item.Id" @(ViewBag.SelectedSizeId.Contains(item.Id)?"checked":"")>
                                            <label for="checkbox-1" class="checkbox-custom-label" for="productType-@item.Id">@item.Name</label>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
 

                    </div>
                    <div class="mt-5 mb-5">
                        <form id="filter-form" method="get">
                            <button type="submit" class="sidebar-title w-100">Filter</button>
                        </form>
                    </div>
      </div>
      </div>
      <nav class="filter-mobile d-none navbar navbar-light bg-light w-25">
        <div class="container-fluid ms-2">
          <button class="navbar-toggler border-dark border" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-dark">Filter</span>
          </button>
        </div>
      </nav>
     @* Mobile Filter Finish*@
            <div class="sorting-selection w-25 mb-5 ms-4 ">
                <span class="fw-bold">Sort By:</span>
                <select onchange="this.form.submit()" form="filter-form" name="sort" class="form-control nice-select sort-select mr-0 bg-dark text-white">
                    <option value="" selected="selected">Default Sorting</option>
                    <option value="AToZ">
                        Name (A to Z)
                    </option>
                    <option value="ZToA">
                       Name (Z to A)
                    </option>
                    <option value="LowToHigh">
                       Price (Low to High)
                    </option>
                    <option value="HighToLow">
                 Price (High to Low)
                    </option>
                </select>
            </div>
            <div class="w-100 d-flex justify-content-around flex-wrap">
                @foreach (var item in Model.Products)
                {
                    <div class="card mb-3" style="width: 16rem;">
                        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">

                            @if (item.IsNew == true)
                            {
                                <p class="m-auto">New</p>
                            }
                            @if (item.DiscountPercent > 0)
                            {
                                <p class="m-auto text-danger">Sale</p>
                            }

                        </div>
                        <a asp-controller="product" asp-action="detail" asp-route-id="@item.Id"><img src="/assets/img/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true).Name" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h6 class="card-title">@item.Name</h6>
                            @if (item.DiscountPercent > 0)
                            {
                                <p class="card-text text-danger">$@((item.SalePrice * (100 - item.DiscountPercent) / 100).ToString("0.00")) <del class="text-dark">$@item.SalePrice</del></p>
                            }
                            else
                            {
                                <p class="card-text ">$@item.SalePrice</p>
                            }
                        </div>
                    </div>
                }
    </div>
    </div>
</div>
</section>
<section class="container mt-5 pt-5 ">
  <h5 class="mb-5">You May Also Like</h5>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000" >
     <div class="d-flex justify-content-around flex-wrap ">
      <div class="card" style="width: 16rem;">
        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
        <p class="m-auto">New</p>
        </div>
        <a href="detail.html"><img src="~/assets/img/Infinity Insulated Parka(product1).webp" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h6 class="card-title">Women's Little Si™ Omni-Heat™ Infinity Insulated Parka</h6>
          <p class="card-text text-danger">$171.91 <del class="text-dark">$230.00</del></p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
          <p class="m-auto">New</p>
          </div>
        <a href="detail.html"><img src="~/assets/img/IV Interchange Jacket(product2).webp" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h6 class="card-title">Men's Whirlibird™ IV Interchange Jacket</h6>
          <p class="card-text text-danger">$171.91 <del class="text-dark">$230.00</del></p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
          <p class="m-auto">New</p>
          </div>
        <a href="detail.html"><img src="~/assets/img/Down Hooded Jacket(product3).webp" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h6 class="card-title">Men's Delta Ridge™ Down Hooded Jacke</h6>
          <p class="card-text text-danger">$134.91 <del class="text-dark">$180.00</del></p>
        </div>
      </div>
      <div class="card" style="width: 16rem;">
        <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
          <p class="m-auto">New</p>
          </div>
        <a href="detail.html"><img src="~/assets/img/II OutDr Shoe(product4).webp" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h6 class="card-title">Men's Peakfreak™ II OutDry™ Shoe</h6>
          <p class="card-text text-danger">$71.91 <del class="text-dark">$125.00</del></p>
        </div>
      </div>
     </div>
      </div>
      <div class="carousel-item" >
        <div class="d-flex justify-content-around flex-wrap  ">
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
           <a href="detail.html"><img src="~/assets/img/Interchange Jacket.webp" class="card-img-top" alt="..."></a> 
            <div class="card-body">
              <h6 class="card-title">Men's Agate Alley™ Interchange Jacket</h6>
              <p class="card-text text-danger">$149.91 <del class="text-dark">$200.00</del></p>
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
            <a href="detail.html"><img src="~/assets/img/Interchange Jacket(women).webp" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h6 class="card-title">Women's Gulfport™ Interchange Jacket</h6>
              <p class="card-text text-danger">$104.91 <del class="text-dark">$210.00</del></p>
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
          <a href="detail.html"><img src="~/assets/img/Infinity Insulated Rain Jacket.webp" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h6 class="card-title">Men's Oak Harbor™ Omni-Heat™ Infinity Insulated Rain Jacket</h6>
              <p class="card-text text-danger">$99.91 <del class="text-dark">$200.00</del></p>
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
            <a href="detail.html"><img src="~/assets/img/Shoe - Wide.webp" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h6 class="card-title">Women's Hatana™ Max OutDry™ Shoe - Wide</h6>
              <p class="card-text text-danger">$71.91 <del class="text-dark">$120.00</del></p>
            </div>
          </div>
         </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-around flex-wrap  ">
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
           <a href="detail.html"><img src="~/assets/img/Work Hooded Jacket.webp" class="card-img-top" alt="..."></a> 
            <div class="card-body">
              <h6 class="card-title">Men's PHG Rough Tail™ Work Hooded Jacket</h6>
              <p class="card-text text-danger">$89.91 <del class="text-dark">$120.00</del></p>
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
            <a href="detail.html"><img src="~/assets/img/II Half Zip Sweatshirt.webp" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h6 class="card-title">Men’s Hart Mountain™ II Half Zip Sweatshirt</h6>
              <p class="card-text text-danger">$54.91 <del class="text-dark">$80.00</del></p>
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
          <a href="detail.html"><img src="~/assets/img/II Crew Sweatshirt.webp" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h6 class="card-title">Men's Hart Mountain™ II Crew Sweatshirt</h6>
              <p class="card-text text-danger">$32.91 <del class="text-dark">$55.00</del></p>
            </div>
          </div>
          <div class="card" style="width: 16rem;">
            <div class="position-absolute bg-dark text-white w-20 feature-div text-center p-1 ms-1">
              <p class="m-auto">New</p>
              </div>
            <a href="detail.html"><img src="~/assets/img/Firecsmp Boot.webp" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h6 class="card-title">Women's Firecamp™ Boot</h6>
              <p class="card-text text-danger">$54.91 <del class="text-dark">$110.00</del></p>
            </div>
          </div>
         </div>
      </div>
    </div>
    <button class="carousel-control-prev pe-5 " type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon me-5 bg-dark" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next ps-5" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon ms-5 bg-dark" aria-hidden="true"></span>
    </button>
  </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function(){
             $(function() {
            $(".sb-range-slider").slider({
                range: true,
                min: @Model.MinPrice,
                max: @Model.MaxPrice,
                values: [@ViewBag.SelectedMinPrice, @ViewBag.SelectedMaxPrice],
                slide: function (event, ui) {
                    $("#amount").val("£" + ui.values[0] + " - £" + ui.values[1]);
                },
                change: function (event, ui) {
                    $("#minPriceInput").val(ui.values[0]);
                    $("#maxPriceInput").val(ui.values[1]);
                }
            });
            $("#amount").val("£" + $(".sb-range-slider").slider("values", 0) +
                " - £" + $(".sb-range-slider").slider("values", 1));
        });
    </script>}
